<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Page de connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='connexion.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="bg-img" style="background-image: url({{ url_for('static', filename='image/bg.jpg') }});
        height: 100vh;
        background-size: cover;
        background-position: center;">
      <div class="content">
        <div class="hors"><a href="{{url_for('accueil')}}">Revenir sur la page d'accueil</a></div>
        <header>Connexion à mon gestionnaire</header>
        <form action="/admin" method="POST">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p class="alert">{{ message }}</p><br>
            {% endfor %}
          {% endif %}
        {% endwith %}
          <div class="field">
            <i class="fas fa-user"></i>
            <input type="text" required placeholder="Login" name="login">
          </div>
          <div class="field space">
            <i class="fas fa-lock"></i>
            <input type="password" class="pass-key" required placeholder="Mot de passe" name="password">
          </div>
          <div class="pass">
            <a href="{{ url_for('recuperation') }}">Mot de passe oublié ?</a>
          </div>
          <div class="field">
            <input type="submit" value="Se connecter">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
