{% extends "base.html"%}
{% block centre%}
<div class="home-content">

  <div class="sales-boxes">
    <div class="recent-sales1 box">
      <div class="title">Profil</div>
      <p>Tableau de bord / Profil</p><br>
      <div class="sales-details1">
        <div class="profil" style="background-image: url({{ url_for('static', filename='image/dona.jpg') }});"></div>
        <div class="infos">
          <h3>N'GUESSAN DONATIEN</h3>
          <p>DL SION COMPAGNIE PDG</p>
          <p> Abidjan, Côte D'Ivoire</p>
          <p>Tel :0748886531, Email : dlsioncompagnie@.com, DL SION COMPAGNY, ABIDJAN</p>
        </div>
        <div class="message">
          <button>Message</button>
          <button id="modifier">Modifier</button>
        </div>
      </div><br>
    </div>
  </div><br>

  <div class="sales-boxes">
    <div class="recent-sales1 box">
      <div class="title">
        <p>Liste du personnel</p><button id="open-popup">Ajouter un membre</button>
      </div>
      
      <div class="sales-details">
        
            <ul class="details">
              <li class="topic">Nom</li>
              {% for row in utilisateurs %}
              <li><a href="#">{{ row[1] }}</a></li>
              {% endfor %}
            </ul>
            <ul class="details">
              <li class="topic">Prénom</li>
              {% for row in utilisateurs %}
              <li><a href="#">{{ row[2] }}</a></li>
              {% endfor %}
            </ul>
            <ul class="details">
              <li class="topic">Poste</li>
              {% for utilisateur in utilisateurs %}
              <li><a href="#">{{ utilisateur[3] }}</a></li>
              {% endfor %}
            </ul>
            <ul class="details">
              <li class="topic">Login</li>
              {% for row in utilisateurs %}
              <li><a href="#">{{ row[6] }}</a></li>
              {% endfor %}
            </ul>
            <ul class="details">
              <li class="topic">Mot de passe</li>
              {% for row in utilisateurs %}
              <li><a href="#">**************</a></li>
              {% endfor %}
            </ul>
            <ul class="details">
              <li class="topic">Téléphone</li>
              {% for row in utilisateurs %}
              <li><a href="#">{{ row[4] }}</a></li>
              {% endfor %}
            </ul>
            <ul class="details">
              <li class="topic">Email</li>
              {% for row in utilisateurs %}
              <li><a href="#">{{ row[5] }}</a></li>
              {% endfor %}
            </ul>
            <ul class="details">
              <li class="topic">Action</li>
              {% for row in utilisateurs %}
              <div class="icon">
                <i class='bx bx-edit edit-icon' style='font-size: 30px; color: blue;'></i>
                <i class='bx bx-trash delete-icon' style='font-size: 30px; color: red;'></i>
              </div>
              {% endfor %}
            </ul>
      </div>
      <div class="button">
        <a href="#">Voir plus</a>
      </div>
    </div>
  </div><br>

</div>

<div id="popup" class="popup">
  <div class="popup-content">
    <span class="close" id="close-popup">&times;</span>
    <h2>Ajout d'un nouveau membre</h2><br>
    <form action="/admin/ajouter_membre" method="POST" enctype="multipart/form-data">

      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom" required>

      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" name="prenom" required>

      <label for="categorie">Poste</label>
      <select id="categorie" name="poste" required>
        <option value="">Sélectionnez un poste</option>
        <option value="gestionnaire">Gestionnaire</option>
        <option value="vendeur">Vendeur</option>
        <!-- Ajoutez d'autres options selon vos besoins -->
      </select>
      <label for="tel">Téléphone</label>
      <input type="tel" id="tel" name="tel" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="login">Login</label>
      <input type="text" id="login" name="login" required>

      <label for="motpass">Mot de pass</label>
      <input type="password" id="motpass" name="password" required>

      <label for="confmotpass">Confirmez le mot de pass</label>
      <input type="password" id="confmotpass" name="confmotpass" required>

      <label for="image">Photo</label>
      <input type="file" id="image" name="image" accept="image/*" required>

      <button type="submit">Ajouter</button>
    </form>
  </div>
</div>


{% endblock %}