<div class="sidebar">
  <div class="logo-details" style="background-image: url({{ url_for('static', filename='image/bg.jpg') }});
hheight: 100vh;
background-size: contain;
background-position: center;">
    <span class="logo_name">SIMPLON</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="{{ url_for('base') }}" class="active">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Tableau de bord</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('Produit') }}">
        <i class="bx bx-box"></i>
        <span class="links_name">Produits</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('clients') }}">
        <i class="bx bx-user"></i>
        <span class="links_name">clients</span>
      </a>
    </li>
    
    <li>
      <a href="{{ url_for('ventes') }}">
        <i class="bx bxs-cart-add cart two"></i>
        <span class="links_name">Ventes</span>
      </a>
    </li>

    <li>
      <a href="{{ url_for('rapport') }}">
        <i class="bx bxs-report"></i>
        <span class="links_name">Rapport</span>
      </a>
    </li>
    
   
    <li>
      <a href="#">
        <i class="bx bx-cart-alt cart"></i>
        <span class="links_name">Achats</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Stock</span>
      </a>
    </li>
  
   
    <li class="log_out">
      <a href="{{url_for('adminLogout')}}">
        <i class="bx bx-log-out"></i>
        <span class="links_name">Déconnexion</span>
      </a>
    </li>
  </ul>
</div>