{% extends "base_vendeur.html"%}
{% block centre%}
<div class="home-content">

  <div class="sales-boxes">
    <div class="recent-sales1 box">
      <div class="title">Profil</div>
      <p>Tableau de bord / Profil</p><br>
      <div class="sales-details1">
        <div class="profil" style="background-image: url({{url_for('static', filename='image/profile.jpg') }});"></div>
        <div class="infos">
          <h3>David YAO</h3>
          <p>Vendeur</p>
          <p> Florida, United State</p>
          <p>Tel : 0504903316, Email :simplon@.com,Simplon, ABIDJAN</p>
        </div>
        <div class="message">
          <button>Message</button>
          <button>Modifier</button>
        </div>
      </div><br>
    </div>
  </div><br>
  
</div>




{% endblock %}